/*
    This file is to show how CSS and other static resources (such as images) can be
    used from a library project/package.
*/
/*
.my-component {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
.border-custom {
    border: solid 1px #1861ac;
    border-radius: 20px;
    padding: 20px;
}
#input-amount {
    border: solid 1px #1861ac;
}*/