@namespace Cryptocoin.Client.Features.Transfer.Sent
@code{

    [Parameter] public string DescComponent { get; set; }
    [Parameter] public RenderFragment ChildContent { get; set; }
    [Parameter] public TypeTransferMethod TypeTransferMethodSelected { get; set; }

    public void SetActivateTypeTransfer(TypeTransferMethod typeTransferMethod)
    {
        TypeTransferMethodSelected = typeTransferMethod;
        StateHasChanged();
    }
}

<p class="section-lead">@DescComponent</p>

@if (TypeTransferMethodSelected == null)
{
    <div class="row">
        @ChildContent
    </div>
}
else
{
    @TypeTransferMethodSelected?.ChildContent
}

