@namespace Cryptocoin.Client.Feature.Transfer.Received
@code{

    [Parameter] public EventCallback ValidTransaction { get; set; }
    [Parameter] public string TxtAmountToSend { get; set; }
    [Parameter] public string TxtUser { get; set; }
    [Parameter] public string BtnValidTransaction { get; set; }
    [Parameter] public string Firstname { get; set; }
    [Parameter] public string QrCode { get; set; }
    [Parameter] public string Lastname { get; set; }
    [Parameter] public int? AmountToSend { get; set; }

}

<div class="card-body">

    @if (Loading)
    {
        <Loading Load="Loading"></Loading>
    }
    else
    {
        <ul>
            <li>@TxtUser @Firstname @Lastname</li>
            <li>@TxtAmountToSend @AmountToSend</li>
        </ul>
        <button @onclick="ValidTransactionClick" class="btn btn-primary">@BtnValidTransaction</button>
    }

</div>